<VirtualHost *:80>
  Alias /culture /opt/tkk/client/culture.html
  Alias /news2 /opt/tkk/client/news.html

  DocumentRoot %ABSOLUTE_PATH_TO_CLIENT_DIR%
  <Directory %ABSOLUTE_PATH_TO_CLIENT_DIR%>
    Order allow,deny
    Allow from all
    Require all granted
  </Directory>

  ProxyPass /ir http://ir.lmcloud.vse.cz/irapi/media-server

  # Toolkit configuration
  ProxyPass /lou http://%SPRINGFIELD_IP%:8080/lou
  ProxyPassReverse /lou http://%SPRINGFIELD_IP%:8080/lou
  ProxyPass /bart http://%SPRINGFIELD_IP%:8080/lou
  ProxyPassReverse /bart http://%SPRINGFIELD_IP%:8080/lou
  ProxyPass /smithers http://%SPRINGFIELD_IP%:8080/lou
  ProxyPassReverse /smithers http://%SPRINGFIELD_IP%:8080/lou
  ProxyPass /smithers2 http://%SPRINGFIELD_IP%:8080/lou
  ProxyPassReverse /smithers2 http://%SPRINGFIELD_IP%:8080/lou
  ProxyPass /springfield http://%SPRINGFIELD_IP%:8080/springfield
  ProxyPassReverse /springfield http://%SPRINGFIELD_IP%:8080/springfield

  <Directory %ABSOLUTE_PATH_TO_CLIENT_DIR%/js/toolkit/>
    Order allow,deny
    Allow from all
    Require all granted
  </Directory>
  Alias /eddie/js %ABSOLUTE_PATH_TO_CLIENT_DIR%/js/toolkit/
  Alias /libs %ABSOLUTE_PATH_TO_CLIENT_DIR%/js/toolkit/
</VirtualHost>
