server {
  listen 80;
  server_name tkk.dev;

  charset utf-8;

  # @FIXME update this path with yours
  set $host_path "%ABSOLUTE_PATH_TO_CLIENT_DIR%";

  # in case you're debugging nginx setup
  # error_log "%ABSOLUTE_PATH_TO_CLIENT_DIR%/nginx.error.log" info;

  # Path for static files
  root $host_path;

  expires -1;

  # opt-in to the future
  add_header "X-UA-Compatible" "IE=Edge,chrome=1";
  add_header "Access-Control-Allow-Origin" "*";


  location / {
    index index.html;
  }

  location /ir {
    proxy_pass http://ir.lmcloud.vse.cz/irapi/media-server;
  }

  # for toolkit js
  location /libs/ {
    alias %ABSOLUTE_PATH_TO_CLIENT_DIR%/js/toolkit/;
  }
  # for eddie_worker.js
  location /eddie/js/ {
    alias %ABSOLUTE_PATH_TO_CLIENT_DIR%/js/toolkit/;
  }

  location /lou {
    proxy_pass http://%SPRINGFIELD_IP%:8080;
    proxy_set_header Host $host;
  }

}
