/* generic */
.dimensions li {
    margin: 0;
    list-style: none;
    border-bottom: 1px solid white;
    background-color: rgb(126,139,148);
    overflow: hidden;
    cursor: pointer;
}
.dimensions li a {
    color: white;
    text-decoration: none;
}

/* entities in about */
.dimensions .about li {
    line-height: 18px;
    padding: 10px;
}
.dimensions .about .title {
    font-size: 14px;
}

/* artworks */
.dimensions .artworks li {
    height: 135px;
    line-height: 18px;
    padding: 10px;
}
.dimensions .artworks .thumb {
    float: left;
    width: 100px;
    height: 100px;
    overflow: hidden;
    margin-right: 10px;
}
.dimensions .artworks .thumb img {
    width: 100%;
    border: 1px solid white;
}
.dimensions .artworks .desc {
    color: white;
}
.dimensions .artworks .title {
    font-size: 14px;
    line-height: 18px;
    max-height: 36px;
    overflow: hidden;
}