.information-card {
    padding: 24px 36px
}
.information-card .header {
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(141,155,175);
    overflow: auto;
}
.information-card h2 {
    margin: 0 0 2px;
    font-size: 19px;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
    line-height: 23px;
    float: left;
}
.information-card .info {
    font-size: 12px;
    color: rgb(141,155,175);
    font-weight: bold;
    float: left;
    clear: left;
}
.information-card .link {
    float: right;
}

.information-card .entity .image {
    padding-right: 15px;
}

.information-card .entity .image img {
    width: 100%;
}

.information-card .entity .description {
    font-size: 16px;
    line-height: 24px;
}

.information-card .entity .attributes {
    font-size: 16px;
    line-height: 30px;
}
.information-card .entity .attributes .key {
    font-weight: bold;
    font-size: 14px;
}

.information-card .article .text {
    font-size: 16px;
    line-height: 24px;
}
.information-card .article .media img {
    max-width: 100%;
}