html, body {
    height:100%;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 12px;
    background-color: rgb(45,57,64);
}
.linkedtv h1,
.linkedtv h2,
.linkedtv h3,
.linkedtv h4,
.linkedtv h5 {
    font-family: 'Roboto', sans-serif;
}
.linkedtv .bar h1,
.linkedtv .bar .icon {
    color: white;
}

.linkedtv .tab-item-active .icon,
.linkedtv .tab-item-active .tab-title,
.linkedtv .tab-item-active,
.linkedtv .icon.selected {
    color: rgb(65,146,183);
}

a {
  text-decoration: none;
}

.linkedtv .bar {
  background-color: rgba(95,109,105,0.6);
  border-bottom: 1px solid rgb(100,114,124);
    z-index: 13;
  /*z-index: 2147483647; *//* http://css-tricks.com/custom-controls-in-html5-video-full-screen/ */
}

.linkedtv-logo {
  background-image: url('../img/linkedtv_logo.png');
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 184px 20px;
}
.tabs {
    background-color: rgba(95,109,105,0.8);
    padding: 0;
}
.culture .avrotros-logo,
.culture .avrotros-logo .tabs {
  background-image: url('../img/logo_avrotros.png');
  background-repeat: no-repeat;
  background-position: 15px center;
  background-size: 105px 34px;
}
.tabs a {
  color: #FFF;
}
.pane {
  background-color: rgb(45,57,64);
}
.tabs-icon-top .has-footer {
  bottom: 49px;
}
.row {
  padding: 0;
}
.col {
  padding: 0;
}

.linkedtv .menu {
    background-color: rgb(45,57,64);
    width: 200px;
}

.linkedtv .view {
    background-color: rgb(45,57,64);
}

/* watch mode header and footer are overlays */
.linkedtv .watch .has-header.has-footer {
    top: 0;
    bottom: 0;
}
.linkedtv .watch .bar,
.linkedtv .watch .tabs {
    background-color: rgba(95, 109, 105, 0.9);
}

/* user select */
.user.card {
  float: left;
  width: 250px;
  box-shadow: 3px 3px 8px 0px rgba(26,26,26,0.7);
}
.user.card .item {  
  background: -webkit-linear-gradient(top, rgba(45,57,64,1) 0%,rgba(45,57,64,1) 50%,rgba(50,62,71,1) 100%);
  border: 1px solid rgb(100,114,124);
}
.user.card .item-image {
  height: 250px;
  width: 250px;
  overflow: hidden;
}
.user.card .item-image img {
  background-color: black;
}
.user.card .item h2,
.user.card .item a {
  color: white;
}

/* chapter */

.chapter .bookmark {
  position: absolute;
  display: block;
}
.chapter .bookmark.selected {
  color: rgb(65,146,183);
}
.chapter .chapter-time {
    position: absolute;
    right: 2px;
    bottom: 2px;
    padding: 0 4px;
    font-weight: bold;
    font-size: 11px;
    background-color: #000;
    color: #fff;
    height: 14px;
    line-height: 14px;
    opacity: .75;
}
.related .bookmark,
.episode .bookmark,
.bookmarks .bookmark {
  display: none;
}
.related .bookmark.selected,
.episode .bookmark.selected {
  display: block;
}
/* episodes */
.episode {
  padding: 20px;
  overflow: auto;
  background: -webkit-linear-gradient(top, rgba(45,57,64,1) 0%,rgba(45,57,64,1) 50%,rgba(50,62,71,1) 100%);
}
.episode .scroll {
  overflow: hidden;
}
.episode h3 {
  margin: 10px 0;
	font-size: 16px;	
}
.episode h3 a {
  color: white;
}
.bookmarks .chapter,
.episode .chapter {
  float: left;
  padding: 0 50px 25px 0;
}
.bookmarks .chapter img,
.episode .chapter img {
    width: 128px;
    height: 72px;
    border: 1px solid #888;
    border-radius: 3px;
    box-shadow: 3px 3px 8px 0px rgba(26,26,26,0.7);
    overflow: hidden;
}
.episode .chapter h4 {
  position: absolute;
  bottom: 0;
  font-size: 12px;
  color: #CCC;
}
.episode .bookmark {
  top: -10px;
}

/* bookmarks */
.bookmarks {
 padding: 15px; 
}

/* play view */
.scroll-view,
.scroll-content .scroll,
.scroll-content .scroll .row,
.scroll-content .scroll .col,
.scroll-content .scroll .enrichPanel {
  height: 100%;
}

/* modes */
.mode.has-footer {
    bottom: 49px;
}
.mode.has-footer.has-controls {
    bottom: 89px;
}

/* player */
.player {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: black;
}
.player .video-overlay {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 12; /* ion-content z-index is 11 */
}
.player video, canvas {
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
    height: auto;
}
.player video {
    height: 100%;
    position: absolute;
}
.player video::-webkit-media-controls {
    display:none !important;
}

.player.explore,
.player.lookup {
    top: inherit;
    bottom: 49px;
    width: inherit;
    height: inherit;
}
.player.explore video,
.player.lookup video {
    height: 150px !important;
    min-height: 150px;
}
.culture .video-logo {
  position: absolute;
  top: 80px;
  margin-left: 40px;
  z-index: 100;
  height: 40px;
  width: 60px;
  background-size: 100% 100%;
  background-image: url(../img/AVRO-logo-wit-transp.png);
  background-repeat: no-repeat;
}
.player-controls {
    width: 100%;
    position: absolute;
    z-index: 13;
    bottom: 49px;
    padding: 1px 16px;
    background-color: rgba(45,57,64,0.8);
    /*background-color: rgba(0,0,0,0.6);*/
    color: white;
}
.player-controls .icon {
    color: #FFF;
}
.player-controls .icon.selected {
    color: rgb(65,146,183);
}

.seekbar {
}
.range {
  padding: 0;
  margin: 0;
}
.range input[type="range"] {
  padding: 0;
  margin: 0;
    height: 28px;
  background-size: 100% 4px;
}
.beam-bg {
    position: absolute;
    top: 44px;
    bottom: 89px;
    width: 100%;
  color: #CCC;
  font-size: 30px;
}
.beam-bg .icon {
    position: absolute;
    width: 100%;
    font-size: 300px;
    text-align: center;
    bottom: 20px;
}
.beam-bg .msg {
    font-size: 16px;
}

/* chapter list */
.chapters-overlay {
    position: absolute;
    width: 200px;
    top: 0;
    bottom: 32px;
    left: 0;
    z-index: 13;
    background-color: rgba(45,57,64,0.8);
}
.chapters {
    /*background-color: rgb(45,57,64);*/
}
.chapters .item img {
    display: none;
}
.chapters .item {
  border-width: 0 0 1px;
  border-style: solid;
  border-color: rgb(126,139,148);
  background-color: rgba(45,57,64,0.6);
  color: rgb(230,229,228)
  margin: 0;
}
.chapters .item.active {
  background-color: rgba(126,139,148,0.6);
}
.chapters .bookmark {
  top: 5px;
  right: 25px;
}  
.chapters .chapter h4 {
  margin: 0 0 8px 0;
  font-size: 15px;
  color: #FFF;
}
.chapters img {
    width: 65%;
    border: 1px solid white;
}

/* links */
.links {
    -webkit-filter: drop-shadow(-7px 0 6px rgba(0, 0, 0, 0.75));
    background-color: rgb(126,139,148);
}
.links .item {
    background-color: rgb(126,139,148);
    border-color: white;
}
.links .item-dark {
    background-color: rgb(170,184,194);
}
/*
.explore .col {
    background-color: rgb(45,57,64);
    color: rgb(230,229,228);
    height: 100%;
    overflow: auto;
}
*/
.chapters h3,
.links h3 {
    margin: 0;
    padding: 4px 11px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    height: 34px;
    line-height: 26px;
    color: white;
    background-color: rgb(36,146,185);
    box-sizing: border-box;
}
.links .item:first-child {
  border-color: rgb(126,139,148);
}
.links h3 {
    background-image: url(../img/background_sections_menu.png);
    background-position: center right;
    background-repeat: no-repeat;
    -webkit-filter: drop-shadow(0 -3px 3px rgba(50, 50, 50, 0.75));
}
.links h4 {
  /*color: rgb(45,57,64);*/
    color: white;
  font-size: 15px;
}
.links img {
  border: 1px solid white;
}

/* content */
.content {
    background-color: white;
    -webkit-filter: drop-shadow(-7px 0 6px rgba(0, 0, 0, 0.75));
}
.content .scroll-view {
  height: 600px;
}
  
/* information card */
.crumbs {
  padding: 4px 15px;
  background-color: #EEE;
}
.information-card {
    padding: 24px 36px
}
.information-card h4 {
  margin: 0 0 2px;
  font-size: 19px;
    font-weight: bold;
  text-transform: uppercase;
  color: black;
  line-height: 23px;
}
.information-card .header {
  margin-bottom: 10px;
  border-bottom: 1px solid rgb(141,155,175);
  overflow: auto;
} 
.information-card h4 {
    float: left;
}
.information-card .info {
  font-size: 12px;
  color: rgb(141,155,175);
  font-weight: bold;
  float: left;
  clear: left;
}
.information-card .link {
  float: right;
}
.information-card .image {
  max-width: 40%;
  margin: 0 15px 15px 0;
  float: left;
}
.information-card .image img {
  width: 100%;
}
.information-card .properties {
  float: left;
  font-size: 16px;
}
.information-card .properties li {
  padding-bottom: 10px;
}
.information-card .properties label {
  color: #999;
  display: block;
  font-size: 12px;
}
.information-card a {
  color: rgb(65,146,183);
}  
.information-card .description {
  clear: both;
  font-size: 16px;
  line-height: 24px;
}
/* browser */
.browser {
  height: 100%;
}
.browser iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding-top: 30px;
  border: none;
  overflow: auto;
}
.browser header {
  background-color: rgb(65,146,183);
  margin: 0;
  padding: 2px 8px;
  font-size: 12px;
  font-weight: bold;
  color: white;
  line-height: 28px;
  position: relative;
  z-index: 13;
}
.browser .close {
  float: right;
}

/* entity slider */
.entity-bar {
    width: 100%;
    border-bottom: 1px solid rgb(100,114,124);
    height: 103px;
    padding: 4px;
    box-sizing: border-box;
}
.entity-list .entity {
    float: left;
    width: 127px;
    height: 95px;
    overflow: hidden;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(45,57,64);
    font-weight: bold;
    box-sizing: border-box;
}
.entity.active {
    border: 4px solid rgb(36,146,185);
    margin-top: -2px;
    height: 89px;
    width: 119px;
    overflow: hidden;
}
.entity.active .title {
    height: 27px;
    width: 111px;
    overflow: hidden;
}
.entity img {
    height: 91px;
    width: 123px;
}
.entity .title {
    position: absolute;
    bottom: 0;
    height: 35px;
    width: 123px;
    padding: 2px 4px;
    line-height: 14px;
    background-color:rgba(0,0,0,0.6);
    color: white;
    overflow: hidden;
}

.entity-slider {
}
.entity-slider .information-card {
    margin: 15px;
    overflow: auto;
    background-color: rgba(95,109,105,0.6);
  border-bottom: 1px solid rgb(100,114,124);
}
.entity-slider .information-card . {
    color: rgb(170,184,194);
}
.entity-slider .information-card .description {
    color: rgb(170,184,194);
}