html, body {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 12px;
    background-color: rgb(45,57,64);
}
.linkedtv h1,
.linkedtv h2,
.linkedtv h3,
.linkedtv h4,
.linkedtv h5 {
    font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

.bar-tkk {
  background-color: rgba(95,109,105,0.9);
  border-bottom: 1px solid rgb(100,114,124);
  z-index: 2147483647; /* http://css-tricks.com/custom-controls-in-html5-video-full-screen/ */
}

.bar-tkk .title,
.bar-tkk .icon {
  color: #FFF;
}
.linkedtv .bar .title {
    ￼font-size: 24px;
}
.tab-item-active .icon,
.tab-item-active .tab-title,
.icon.selected {
  color: rgb(65,146,183);
}
.linkedtv-logo {
  background-image: url('../img/linkedtv_logo.png');
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 184px 20px;
}
.tabs {
  background-color: rgba(95,109,105,0.8);
}
.avrotros-logo,
.avrotros-logo .tabs {
  background-image: url('../img/logo_avrotros.png');
  background-repeat: no-repeat;
  background-position: 15px center;
  background-size: 105px 34px;
}
.tabs a {
  color: #FFF;
}
.pane {
  background-color: rgb(45,57,64);
}
.tabs-icon-top .has-footer {
  bottom: 49px;
}
.row {
  padding: 0;
}
.col {
  padding: 0;
}

.main {
  height: 100%;
}

/* user select */
.user.card {
  float: left;
  width: 250px;
  box-shadow: 3px 3px 8px 0px rgba(26,26,26,0.7);
}
.user.card .item {  
  background: -webkit-linear-gradient(top, rgba(45,57,64,1) 0%,rgba(45,57,64,1) 50%,rgba(50,62,71,1) 100%);
  border: 1px solid rgb(100,114,124);
}
.user.card .item-image {
  height: 250px;
  width: 250px;
  overflow: hidden;
}
.user.card .item-image img {
  background-color: black;
}
.user.card .item h2,
.user.card .item a {
  color: white;
}

/* chapter */

.chapter .bookmark {
  position: absolute;
  display: block;
}
.chapter .bookmark.selected {
  color: rgb(65,146,183);
}
.chapter .chapter-time {
    position: absolute;
    right: 2px;
    bottom: 2px;
    padding: 0 4px;
    font-weight: bold;
    font-size: 11px;
    background-color: #000;
    color: #fff;
    height: 14px;
    line-height: 14px;
    opacity: .75;
}
.related .bookmark,
.episode .bookmark,
.bookmarks .bookmark {
  display: none;
}
.related .bookmark.selected,
.episode .bookmark.selected {
  display: block;
}
/* episodes */
.episode {
  padding: 20px;
  overflow: auto;
  background: -webkit-linear-gradient(top, rgba(45,57,64,1) 0%,rgba(45,57,64,1) 50%,rgba(50,62,71,1) 100%);
}
.episode .scroll {
  overflow: hidden;
}
.episode h3 {
  margin: 10px 0;
	font-size: 16px;	
}
.episode h3 a {
  color: white;
}
.bookmarks .chapter,
.episode .chapter {
  float: left;
  padding: 0 50px 25px 0;
}
.bookmarks .chapter img,
.episode .chapter img {
    width: 128px;
    height: 72px;
    border: 1px solid #888;
    border-radius: 3px;
    box-shadow: 3px 3px 8px 0px rgba(26,26,26,0.7);
    overflow: hidden;
}
.episode .chapter h4 {
  position: absolute;
  bottom: 0;
  font-size: 12px;
  color: #CCC;
}
.episode .bookmark {
  top: -10px;
}

/* bookmarks */
.bookmarks {
 padding: 15px; 
}

/* play view */
.scroll-content .scroll,
.scroll-content .scroll .row,
.scroll-content .scroll .col,
.scroll-content .scroll .enrichPanel {
  height: 100%;
}

/* player */
.player {
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 100%;
}
.player video::-webkit-media-controls {
  display:none !important;
}
/*.video-logo {
  position: absolute;
  top: 10px;
  margin-left: 20px;
  z-index: 100000000000;
  height: 40px;
  width: 60px;
  background-size: 100% 100%;
  background-image: url(../img/AVRO-logo-wit-transp.png);
  background-repeat: no-repeat;
}*/
.player-controls {
    width: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
    bottom: 0px;
    background-color: black;
    color: white;
}
.player-controls .icon {
    color: #FFF;
}
.player-controls .icon.selected {
    color: rgb(65,146,183);
}
.seekbar {
}
.range {
  padding: 0;
  margin: 0;
}
.range input {
  padding: 0;
  margin: 0;
  background-size: 100% 4px;
}
.beam-bg {
  color: #CCC;
  text-align: center;
  font-size: 30px;
}

/* chapter list */
.chapters-overlay {
    position: absolute;
    height: 100%;
    width: 200px;
    top: 0;
    left: 0;
}
.chapters {
    height: 100%;
    background-color: rgb(45,57,64);
}
.chapters .item img {
    display: none;
}
.chapters .item {
  border-width: 0 0 1px;
  border-style: solid;
  border-color: rgb(126,139,148);
  background-color: rgb(45,57,64);
  margin: 0;
  z-index: 1;
}
.chapters .item.active {
  background-color: rgb(126,139,148);
}
.chapters .bookmark {
  top: 5px;
  right: 25px;
}  
.chapters .chapter h4 {
  margin: 0 0 8px 0;
  font-size: 14px;
  color: #FFF;
}
.chapters img {
    width: 65%;
    border: 1px solid white;
}

/* links */
.links {
    -webkit-filter: drop-shadow(-7px 0 6px rgba(0, 0, 0, 0.75));
    background-color: rgb(126,139,148);
}
.links .item {
    background-color: rgb(126,139,148);
}
.links .item-dark {
    background-color: rgb(170,184,194);
}
/*
.explore .col {
    background-color: rgb(45,57,64);
    color: rgb(230,229,228);
    height: 100%;
    overflow: auto;
}
*/
.chapters h3,
.links h3 {
    margin: 0;
    padding: 4px 11px;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    height: 34px;
    line-height: 26px;
    color: white;
    background-color: rgb(65,146,183);
    box-sizing: border-box;
}
.links .item:first-child {
  border-color: rgb(126,139,148);
}
.links h3 {
    background-image: url(../img/background_sections_menu.png);
    background-position: center right;
    background-repeat: no-repeat; 
    -webkit-filter: drop-shadow(0 -3px 3px rgba(50, 50, 50, 0.75));
}
.links h4 {
  color: white;
  font-size: 14px;
}
.links img {
  border: 1px solid white;
}

/* content */
.content {
    background-color: white;
    -webkit-filter: drop-shadow(-7px 0 6px rgba(0, 0, 0, 0.75));
}
.content .scroll-view {
  height: 600px;
}
  
/* information card */
.crumbs {
  padding: 4px 15px;
  background-color: #EEE;
}
.information-card {
  padding: 15px;
}
.information-card h4 {
  margin: 0 0 2px;
  font-size: 19px;
  text-transform: uppercase;
  color: black;
  line-height: 23px;
}
.information-card .header {
  margin-bottom: 10px;
  border-bottom: 1px solid rgb(141,155,175);
  overflow: auto;
} 
.information-card h4 {
    float: left;
}
.information-card .info {
  font-size: 12px;
  color: rgb(141,155,175);
  font-weight: bold;
  float: left;
  clear: left;
}
.information-card .link {
  float: right;
}
.information-card .image {
  max-width: 40%;
  margin: 0 15px 15px 0;
  float: left;
}
.information-card .image img {
  width: 100%;
}
.information-card .properties {
  float: left;
  font-size: 16px;
}
.information-card .properties li {
  padding-bottom: 10px;
}
.information-card .properties label {
  color: #999;
  display: block;
  font-size: 12px;
}
.information-card a {
  color: rgb(65,146,183);
}  
.information-card .description {
  clear: both;
  font-size: 16px;
  line-height: 24px;
}
/* browser */
.browser {
  height: 100%;
}
.browser iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding-top: 30px;
  border: none;
  overflow: auto;
}
.browser header {
  background-color: rgb(65,146,183);
  margin: 0;
  padding: 2px 8px;
  font-size: 12px;
  font-weight: bold;
  color: white;
  line-height: 28px;
  position: relative;
  z-index: 1;
}
.browser .close {
  float: right;
}
