html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 12px;
	background-color: rgb(45,57,64);
    color: #333;
}

.header {
    height: 44px;
    background-color: rgba(95,109,105,0.6);
    border-bottom: 1px solid rgb(100,114,124);
    color: #FFF;
    position: absolute;
    width: 100%;
    z-index: 1;
}

button .glyphicon {
    color: #FFF;
}

.header .title h2 {
    text-align: center;
    height: 24px;
    margin: 0;
    font-size: 24px;
    line-height: 24px;
    padding: 10px 0;
    text-align: center;
}

/* player */
.player {
    background-color: #000;
    -webkit-filter: drop-shadow(-7px 0 6px rgba(0, 0, 0, 0.75));
    overflow: hidden;
}
.player video {
    max-height: 100%;
}
.player-controls {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #000;
}
.player-controls-bottom {
    bottom: 0;
    z-index: 1;
    border-top: 1px solid #CCC;
}
.player-controls-bottom .col-l {
    float: left;
    width: 140px;
}
.player-controls-bottom .volume {
    padding-top: 14px;
}
.player-controls-bottom .volume input {
    width: 100px;
}
.player-controls-bottom .col-m {
    margin: 0 140px;
    text-align: center;
}
.player-controls-bottom .col-r {
    float: right;
    width: 140px;
    text-align: right;
}


/* explore */
.explore {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    padding-top: 44px;
}
.explore .row {
    height: 100%;
}
.explore .col-md-1,
.explore .col-md-2,
.explore .col-md-3,
.explore .col-md-4,
.explore .col-md-5,
.explore .col-md-6
.explore .col-md-7,
.explore .col-md-8,
.explore .col-md-9,
.explore .col-md-10,
.explore .col-md-11,
.explore .col-md-12 {
    padding: 0;
}
.explore .col {
    background-color: rgb(45,57,64);
    color: rgb(230,229,228);
    height: 100%;
    overflow: auto;
}
.explore h4 {
    margin: 0;
    padding: 4px 11px;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    height: 30px;
    line-height: 22px;
    background-color: rgb(65,146,183);
    color: white;
}

/* chapter list */
.explore .chapter-list {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: auto;
}
.explore .chapter-list li {
    margin: 0;
    list-style: none;
    border-bottom: 1px solid rgb(126,139,148);
    cursor: pointer;
}
.explore .chapter-list li.active {
    background-color: rgb(126,139,148);
}
.chapter {
    overflow: hidden;
    padding: 10px;
}
.chapter.active {
    background-color: rgb(126,139,148);
}
.chapter .thumb {
    position: relative;
    width: 96px;
    height: 54px;
    margin-right: 10px;
    float: left;
}
.chapter .chapter-content {
    float: left;
}
.chapter .thumb img {
    width: 100%;
    height: 100%;
}
.chapter .video-thumb {
    position: relative;
}
.chapter h4 {
    margin: 5px 0 10px;
    font-size: 14px;
}
.chapter .chapter-time {
    position: absolute;
    right: 2px;
    bottom: 2px;
    padding: 0 4px;
    font-weight: bold;
    font-size: 11px;
    background-color: #000;
    color: #fff;
    height: 14px;
    line-height: 14px;
    opacity: .75;
}

/* links */
.explore .links {
    background-color: rgb(126,139,148);
    -webkit-filter: drop-shadow(-7px 0 6px rgba(0, 0, 0, 0.75));
}
.explore .links .panel {
    padding: 0;
    margin: 0;
    border: 0;
}
.explore .links .panel-heading {
    background-color: transparent;
    background-image: url(../img/background_sections_menu.png);
    background-position: center right;
    background-repeat: no-repeat; 
    -webkit-filter: drop-shadow(0 -3px 3px rgba(50, 50, 50, 0.75));
    background-color: rgb(65,146,183);
    /*box-shadow: 0 -2px 8px #555;*/
    padding: 0;
    margin: 0;
}
.explore .links .panel-body {
    padding: 0;
    margin: 0;
}
.explore .links ul {
    margin: 0;
    padding: 0;
    border-top: 1px solid rgb(126,139,148);
}
.explore .links li {
    margin: 0;
    list-style: none;
    border-bottom: 1px solid white;
    background-color: rgb(126,139,148);
    height: 135px;
    line-height: 18px;
    overflow: hidden;
    cursor: pointer;
}
.explore .links li a {
    color: white;
    text-decoration: none;
}

/* content */
.explore .content {
    background-color: white;
    -webkit-filter: drop-shadow(-7px 0 6px rgba(0, 0, 0, 0.75));
}