html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 12px;
    background-color: #EEE;
    color: #333;
}

/* home */
.home .hd {
    background-color: #FFF;
    border-bottom: 1px solid #BBB;
    margin-bottom: 15px;
}
.home .hd h1 {
    font-size: 20px;
    margin: 15px 0 15px 15px;
}

/* player */
.glyphicon.linkedtv {
    background-image: url("../img/glyphicon_linkedtv.png");
    background-position: top left; 
    background-size: 25px 25px;
    padding: 25px 25px 0 0;
}
.player {
    background-color: black;
}
video {
    max-height: 100%;
}
.chapter-controls {
    width: 100%;
    position: absolute;
    top: 0;
    opacity: 0.95;
    background-color: #FFF;
}
.player-controls {
    width: 100%;
    position: absolute;
    bottom: 0;
    opacity: 0.95;
    background-color: #FFF;
}

.timeline .time {
    font-size: 10px;
}
.timeline {
    margin-bottom: 10px;
}

.chapter-list {
}

.chapter {
    border-right: 1px solid #EEE;
    float: left;
}

.volume {
    padding-top: 14px;
}
.red {
    color: #d14;
}

/* enrichment panel */


/* entity display */
.entity-grid {
    overflow: hidden;
}
.entity-grid ul {
    padding-left: 0;
    list-style: none;
}
.entity-bar ul {
    padding-left: 0;
    list-style: none;
    width: 100%;
    overflow: auto;
}
.entity-bar li,
.entity-grid li {
    float: left;
    width: 20%;
    height: 115px;
    padding: 10px;
    font-size: 10px;
    line-height: 1.4;
    text-align: center;
    background-color: #f9f9f9;
    border: 1px solid #fff;
}
.information-card .title {
    margin-top: 15px;
    font-size: 30px;
    line-height: 32px;
    text-transform: uppercase;
}
information-card .box {
    border: 1px solid #EEE;
    padding: 15px;
}
information-card .image.box {
    padding: 0;
}
information-card .image {
    width: 100%;
}
.information-card .entities {
    margin-top: 15px;
    padding: 15px;
    border-top: 1px solid #e5e5e5;
}
