html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 12px;
    background-color: #DDD;
}

.container {
    padding: 0;
}
video {
    max-height: 100%;
    background-color: black;
}
.chapter-controls {
    position: absolute;
    top: 0;
    opacity: 0.95;
    background-color: #FFF;
}
.player-controls {
    position: absolute;
    bottom: 0;
    opacity: 0.95;
    background-color: #FFF;
}

.timeline {
    padding: 14px 0;
}

.chapter-list {
    border-top: 1px solid #EEE;
}

.chapter {
    border-right: 1px solid #EEE;
    padding: 6px;
    float: left;
}

.volume {
    padding-top: 14px;
}
.red {
    color: #d14;
}

.entities {
    margin-top: 15px;
    padding: 15px;
    border-top: 1px solid #e5e5e5;
}