<div class="modal-header">
  <h3 class="modal-title">{{chapter.title}}</h3>
</div>
<div class="modal-body">
  <ul>
    <li ng-repeat="e in entities">
      <a ng-click="proxy(e.url)">{{e.title}}</a>
    </li>
  </ul>

  <div ng-if="answered">
    <div ng-switch on="entityType">
      <div ng-switch-when="artist">
        <artist-card props="proxyAnswer"></artist-card>
      </div>
      <div ng-switch-default>
        <b>Entity type not known!</b>
      </div>
    </div>
  </div>

</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()">OK</button>
</div>
