<div class="enrichment">
  <tabset>
    <tab heading="Chapter">
      museum, presenter, expert
    </tab>
    <tab heading="Artwork">
      <!-- static information card -->
      <div class="information-card">
        <em ng-repeat="c in crumb">
          <em ng-if="!$last">
            <a ng-click="proxy(c, true)">{{c.value}}</a><i> > </i>
          </em>
          <em ng-if="$last">
            {{c.value}}
          </em>
        </em>

        <div ng-if="loading">
          <div class="text-center"><i>Loading ...</i></div>
        </div>
        <div ng-if="!loading">
          <information-card props="proxyAnswer" browse="proxy"></information-card>
        </div>
      </div>
    </tab>

    <tab heading="Content">
      <!-- entity grid -->
      <div class="entity-grid">
        <ul class="entities">
          <li ng-repeat="e in entities">
            <a ng-click="proxy(e, true)">
              <span class="entity-thumb"><img src=""></span>
              <span class="entity-title">{{e.value}}</span>
            </a>
          </li>
        </ul>
      </div>

      <!-- synchronized entity bar + information card -->
      <!--
    	<div class="entity-slide">
      	<div class="entity-bar">
      		<ul class="entities">
      			<li ng-repeat="e in entities">
      				<a ng-click="proxy(e, true)">
      					<span class="entity-thumb"><img src=""></span>
      					<span class="entity-title">{{e.value}}</span>
      				</a>
      			</li>
      		</ul>
      	</div>
        	<div class="information-card" ng-if="!loading">
      	    <information-card props="proxyAnswer" browse="proxy"></information-card>
      	</div>
      </div>
      -->
    </tab>

    <tab heading="related chapters">
      <div ng-repeat="v in relatedVideos">
        {{v.title}}
        <chapters-overview video="v"></chapters-overview>
      </div>
    </tab>

    <tab heading="related artworks">
    </tab>

    <tab heading="background">
    </tab>
  </tabset>
</div>