<div class="container-fluid hd">
  <div class="container clearfix">
    <div class="pull-left"><img src="img/linkedtv_icon.png" height="50px"></div>
    <h1 class="pull-left">Linked Culture</h1>
  </div>
</div>

<div class="container section">
  <h4>Episodes</h4>

  <div class="row">
    <div class="col-md-3" ng-click="playFirstChapter(latestVideo.id)">
      <img ng-src="{{latestVideo.poster}}" width="100%"/>
    </div>
    <div class="col-md-9">
      <h5>{{latestVideo.title}}</h5>
      <chapter-list video="latestVideo" chapters="latestVideo.chapters"></chapter-list>
    </div>
  </div>

  <div class="row">
    <div ng-repeat="rv in remainingVideos">
      <div class="col-md-3" ng-click="playFirstChapter(rv.id)">
        <h5>{{rv.title}}</h5>
        <img ng-src="{{rv.poster}}" width="100%"/>
      </div>
    </div>
  </div>
</div>

<div class="container section">
  <h4>Recommended</h4>
</div>

<div class="container section">
  <h4>Bookmarks</h4>
  <bookmarks></bookmarks>
</div>
