<div class="home">
  <div class="container-fluid hd">
  	<div class="container clearfix">
  		<div class="pull-left"><img src="img/linkedtv_icon.png" height="50px"></div>
  		<h1 class="pull-left">Linked Culture</h1>
  	</div>
  </div>

  <div class="container">
    <div class="panel panel-default">
      <div class="panel-heading">Episodes</div>
      <div class="panel-body">
        <ul class="items">
          <li class="episode">
            <h3><a href="" ng-click="playFirstChapter(latestVideo.id)">{{latestVideo.title}}</a></h3>
            <chapters-overview video="latestVideo"></chapters-overview>
          </li>
          <li class="episode" ng-repeat="rv in remainingVideos">
            <h3><a href="" ng-click="playFirstChapter(rv.id)">{{rv.title}}</a></h3>
            <chapters-overview video="rv"></chapters-overview>
          </li>
        </ul>  
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">Recommended</div>
      <div class="panel-body"></div>
    </div>
  
    <div class="panel panel-default">
      <div class="panel-heading">Bookmarks</div>
      <div class="panel-body">
        <bookmarks></bookmarks>
      </div>
    </div>
    
    </div>
</div>