<div class="home">
  <div class="container-fluid hd">
  	<div class="container clearfix">
  		<div class="pull-left"><img src="img/linkedtv_icon.png" height="50px"></div>
  		<h1 class="pull-left">Linked Culture</h1>
  	</div>
  </div>

  <div class="container">
    <div class="panel panel-default">
      <div class="panel-heading">Episodes</div>
      <div class="panel-body">

        <div class="row">
          <div class="col-md-3" ng-click="playFirstChapter(latestVideo.id)">
            <img ng-src="{{latestVideo.poster}}" width="100%"/>
          </div>
          <div class="col-md-9">
            <h5>{{latestVideo.title}}</h5>
            <chapter-overview video="latestVideo"></chapter-overview>
          </div>
        </div>

        <div class="row">
          <div ng-repeat="rv in remainingVideos">
            <div class="col-md-3" ng-click="playFirstChapter(rv.id)">
              <h5>{{rv.title}}</h5>
              <img ng-src="{{rv.poster}}" width="100%"/>
            </div>
          </div>
        </div>
      
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">Recommended</div>
      <div class="panel-body"></div>
    </div>
  
    <div class="panel panel-default">
      <div class="panel-heading">Bookmarks</div>
      <div class="panel-body">
        <bookmarks></bookmarks>
      </div>
    </div>
    
    </div>
</div>