<ion-header-bar align-title="center" class="">
  <div class="buttons">
    <button class="button button-icon icon ion-ios7-arrow-back" ng-click="goToMain()" >Back</button>
  </div>
  <h1 class="title">{{video.title}}</h1>
  <div class="buttons">
    <button class="button button-icon icon ion-social-twitter" socialshare socialshare-provider="twitter"></button>
    <button class="button button-icon icon ion-eye" ng-class="{selected: tracking}" ng-click="toggleTracking()"></button>
  </div>
</ion-header-bar>

<ion-tabs class="tabs-icon-top">
  <ion-tab title="Watch" icon="icon ion-social-youtube-outline">
    <ion-content class="watch" scroll="false">
      <player second="second" ng-hide="beaming"></player>
      <div class="beam-bg" ng-show="beaming">
        This video is playing on the TV
      </div>
      <player-controls class="player-controls" chapter-list="chapterList"></player-controls>

      <div class="chapters chapters-overlay" ng-show="chapterList" >
        <ion-scroll direction="y">
          <chapter-selection video="video" controlPlayer="true"></chapter-selection>
        </ion-scroll>
      </div>
    </ion-content>
  </ion-tab>

  <ion-tab title="Lookup" icon="icon ion-ios7-information-outline">
    <ion-content class="has-header has-footer">

    </ion-content>
  </ion-tab>

  <ion-tab title="Explore" icon="icon ion-ios7-world-outline">
    <ion-content class="has-header has-footer">
      <chapter-enrich height="playContentHeight" video="video"></chapter-enrich>
    </ion-content>
  </ion-tab>

</ion-tabs>
