<ion-header-bar align-title="center" class="bar-tkk">
  <div class="buttons left">
    <button class="button button-icon icon ion-ios7-arrow-back" ng-click="goToMain()" >Back</button>
  </div>
  <h1 class="title">{{video.title}}</h1>
  <div class="buttons">
    <button class="button button-icon icon ion-navicon" ng-click="toggleEnrich()" ></button>
  </div>  
</ion-header-bar>

<ion-content class="has-header has-footer" scroll="false">
  <div id="play-content" class="row">
    <div class="col col-20 chapters">
      <h3>Current Program</h3>
      <ion-scroll direction="y">
        <chapter-selection video="video"></chapter-selection>
      </ion-scroll>  
    </div>
  
    <div class="col col-80 main">
      <div ng-if="!enrich">
        <div class="player">
          <player second="second" beaming="beaming"></player>
        </div>
      </div>
      <div class="enrichPanel" ng-show="enrich">
        <chapter-enrich height="playContentHeight"></chapter-enrich>
      </div>
    </div>
  </div>
</ion-content>  

<div class="bar bar-footer bar-tkk bar-player">
  <div class="row">
    <div class="col col-20 chapter-controls">
    </div>
    <div class="col col-80 player-controls">
      <player-controls beaming="beaming"></player-controls>
    </div>
</div>  