<div class="container-fluid chapter-controls">
	<div class="row">
		<div class="col-md-1">
			<button type="button" ng-click="goToMain()" class="btn btn-link btn-lg">
				<span class="glyphicon glyphicon-chevron-left"></span>
			</button>
		</div>
		<div class="col-md-9">
			<chapter-list video="video" chapters="video.chapters"></chapter-list>
		</div>
		<div class="col-md-2 text-right">
			<button type="button" ng-click="showEnrichment()" class="btn btn-link btn-lg">
				<span class="glyphicon glyphicon-chevron-down"></span>
			</button>
      <bookmarking chapter="chapter"></bookmarking>
		</div>
	</div>
	
	<div class="row timeline">
    <seek-bar></seek-bar>
	</div>
</div>

<div class="container-fluid player">
	<player second="second" beaming="beaming"></player>
</div>

<div class="container-fluid player-controls">
	<player-controls></player-controls>
</div>
