html, body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
	font-size: 12px;
}
body {
    
}

.container {
	width:1024px;
	margin: auto;
	background-color: rgb(45,57,64);
}

/* controls 
    
    at the top
*/

.controls {
	height: 44px;
	background-color: rgba(95,109,105,0.6);
	border-bottom: 1px solid rgb(100,114,124);
	-webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.controls .control {
    display: inline-block;
    height: 24px;
    width: 24px;
    padding: 10px 0;
}
.controls .menu-icon {
    float: left;
    height: 44px;
    width: 192px;
    padding-left: 20px;
}
.controls .config-icon {
    float: left;
    height: 44px;
    width: 192px;
    padding-right: 20px;
    text-align: right;
}
.controls .title {
    float: left;
    width: 600px;
    height: 24px;
    margin: 0;
    font-size: 24px;
    line-height: 24px;
    padding: 10px 0;
    color: white;
    text-align: center;
}
.controls .date {
    display: inline-block;
    vertical-align: bottom;
    height: 24px;
    margin: 0;
    padding: 10px 16px 10px;
    font-size: 12px;
    line-height: 24px;
    font-weight: 300;
    color: white;
}

/* contextual menu */
.menu {
	position: absolute;
	top: 35px;
	margin-left: 30px;
	height: 124px;
	width: 237px;
	padding: 30px 10px 10px;
	background-image: url(../icon/menu_background.png);
	background-position: left top;
	background-repeat: no-repeat;
	color: white;
	z-index: 3;
	font-size: 15px;
	-webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.75));
}
.menu .current {
	text-transform: uppercase;
	color: rgb(170,184,194);
}
.menu .msg-action {
	margin-top: 10px;
	text-transform: uppercase;
}
.menu ul {
	margin: 0;
	padding: 0;

	border-width: 1px 1px 0 1px;
	border-style: solid;
	border-color: white;
	background-color: rgba(95,109,105,0.6);
}
.menu li {
	list-style: none;
	padding: 5px;
	height: 19px;
	border-bottom: 1px solid white;
	text-transform: uppercase;
	cursor: pointer;
}
.menu li:hover {
	background-color: rgb(170,184,194);
}
.menu li.active {
	background-color: rgb(36,146,185);
}


/* passive mode 

*/
#passive .container {
	color: white;
	height:703px;
}

/* entities */
.entities {
	overflow: hidden;
	width: 1024px;
	position: relative;
	font-weight: bold;
	z-index: 2;
	border-bottom: 1px solid rgb(100,114,124);
}
.chapters {
	position: relative;
	overflow: hidden;
	margin: 0;
	padding: 0;
}
li.chapter {
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
}
.chapter-title {
	height: 15px;
	line-height: 15px;	
	padding: 0 17px;
	background-image: url(../icon/greytriangle.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	color: rgb(170,184,194);
	text-transform: uppercase;
}
.chapter.active .chapter-title {
	background-image: url(../icon/greentriangle.png);
	color: white;
}
.entity-list {
	height:95px;
	padding: 0 4px;
}
.entity-list .entity {
	float: left;
	width: 123px;
	height: 91px;
	overflow: hidden;
	border-width: 2px;
	border-style: solid;
	border-color: rgb(45,57,64);
}
.entity.active {
	border: 4px solid rgb(36,146,185);
	margin-top: -2px;
	height: 89px;
	width: 119px;
	overflow: hidden;
}
.entity.active .title {
	height: 27px;
	width: 111px;
	overflow: hidden;
}
.entity img {
	height: 91px;
	width: 123px;
}
.entity .title {
	position: absolute;
	margin-top: -35px;
	height: 28px;
	width: 115px;
	padding: 2px 4px;
	line-height: 14px;
	background-color:rgba(0,0,0,0.6);
	color: white;
	overflow: hidden;
}


/* content */
.content {
	height: 452px;
	width: 994px;
	padding: 15px;
}
.content .left { 
	width: 343px;
	float: left;
}
.content .right {
	width: 636px;
	float: left;
	margin-left: 15px;
}
.content .image {
	overflow: hidden;
	border: 1px solid rgb(100,114,124);
	text-align: center;
}
.content .image img {
	height: 341px;
}
.content .name {
	height: 60px;
	margin-top: 15px;
	font-size: 30px;
	line-height: 32px;
	text-transform: uppercase;
	color: rgb(36,146,185);
}
.content .name span {
	width:100%;
	overflow:hidden;
	display:block;
}
.content-body {
	height: 357px;
	margin-bottom: 24px;
	font-size: 24px;
	line-height: 32px;
	overflow:hidden;
}
.content .desc {
	height: 421px;
	color: rgb(170,184,194);
}
.entity-highlight {
	color: rgb(36,146,185);
}
.entity-metadata {
	padding: 20px 0;
}
.entity-metadata .prop {
	color: rgb(36,146,185);
}
.conter-footer {
	overflow: auto;
	height: 40px;
}
.content-footer .link {
	width: 100px;
	float: left;
	font-size: 24px;
}
.content-footer .link a {
    color: rgb(170,184,194);
    text-decoration: none;
}
.content-footer .icons {
	width: 504px;
	height: 24px;
	padding-top: 16px;
	float: right;
	text-align: right;
}
.content-footer .control {
	padding-left: 15px;
	display: inline-block;
	height: 24px;
	width: 24px;
}
.content-footer .control img {
	height: 24px;
	width: 24px;
}
.content-footer .timer {
    border: 1px solid rgb(36,146,185);
    padding: 3px 2px;
    font-size: 18px;
    line-height: 16px;
    height: 16px;
    width: 26px;
    overflow: hidden;
    vertical-align: top;
    text-align: center;
}
.content-footer .play {
    background-image: url(../icon/playback_pause_icon_24_bigger.png);
	background-position: right 1px;
	background-repeat: no-repeat;
} 
.content-footer .play.paused {
    background-image: url(../icon/playback_play_icon_24_bigger.png);
}

/* program */

.program {
	padding: 0 15px 15px 15px;
	overflow: auto;
	color: white;
}
.program .left { 
	width: 343px;
	float: left;
}
.program .right {
	width: 636px;
	float: left;
	margin-left: 15px;
}
.program .show {
	height: 63px;
}
.program .show .info {
	height: 38px;
}
.program .show .info .thumb {
	width: 38px;
	float: left;
}
.program .show .info .thumb img {
	height: 34px;
	width: 34px;
}
.program .show .info .title {
	width: 255px;
	padding-left: 15px;
	float: left;
	font-weight: bold;
	color: rgb(36,146,185);
	text-transform: uppercase;
	font-size: 18px;
	line-height: 19px;
}
.program .show .info .status {
	font-weight: 300;
	color: white;
}
.program .video-controls {
	height: 25px;
}
.program .video-controls .buttons {
	width: 40px;
	height: 24px;
	padding-top: 1px;
	float: left;
}
.program .video-controls .buttons a {
	display:inline-block;
	height: 24px;
}
.program .video-controls .timeline {
	height: 12px;
	width: 254px;
	margin: 7px 0 6px 15px;
	border: 1px solid white;
	float: left;
	line-height: 12px;
}
.program .video-controls .timeline .playhead {
	height: 12px;
	display:inline-block;
	position: relative;
	left: 0;
	border-width: 0 1px;
	border-style: solid;
	border-color: white;
}
.program .video-controls #play {
	padding-left: 24px;
	background-image: url(../icon/playback_pause_icon_24.png);
	background-position: 0 1px;
	background-repeat: no-repeat;
}
.program .video-controls #play.paused {
	background-image: url(../icon/playback_play_icon_24.png);
}

.program .chapter {
	height: 63px;
	width: 604px;
}
.program .chapter .title {
	width: 562px;
	padding-right: 10px;
	float: left;
	font-weight: 300;
	font-size: 18px;
	line-height: 24px;
	text-transform: uppercase;
}
.program .chapter .category {
	font-weight: bold;
}
.program .chapter .buttons {
	float: left;
	width: 32px;
	height: 32px;
	padding-top: 31px;
}
.program .chapter .control {
	height: 32px;
	line-height: 32px;
}
.program .chapter .bookmarked {
	display: none;
	margin-top: -52px;
	position: absolute;
}
.program .chapter .bookmark {
	display: block;
}
.program .chapter.bookmarked .bookmarked {
	display: block;
}
.program .chapter.bookmarked .bookmark {
	display: none;
}

/* shared stuff */
.box {
	border: 1px solid rgb(100,114,124);
	padding: 15px;
	background-color: rgba(95,109,105,0.6);
}

/* active mode

*/

#active .container {
    height:703px;
	color: black;
	font-size: 15px;
}
#active columns {
    width: 100%;
}
#active .column {
}
#active .column.bookmarks {
    width: 200px;
    height:703px;
    float: left;
    background-color: rgb(45,57,64);
    color: rgb(230,229,228);
}
#active .column.links {
    width: 255px;
    height:703px;
    float: left;
    background-color: rgb(126,139,148);
    /* we force GPU use for shadow effect, otherwise the transform (from iscroll)
    removes the shadow
    http://stackoverflow.com/questions/15508866/in-webkit-why-does-translate3d-affect-drop-shadow
    */
    -webkit-filter: drop-shadow(-7px 0 6px rgba(0, 0, 0, 0.75));
}
#active .column.article {
    width: 569px;
    height:703px;
    float: left;
    background-color: white;
    -webkit-filter: drop-shadow(-7px 0 6px rgba(0, 0, 0, 0.75));
}
#active h3 {
    margin: 0;
    padding: 0;
    padding: 4px 11px;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    height: 22px;
    line-height: 22px;
    background-color: rgb(65,146,183);
    color: white;
}

/* bookmarks */
#active .bookmarks #bookmark-content {
    height: 673px;
    overflow: hidden;
}
#active .bookmarks ul {
    margin: 0;
    padding: 0;
}
#active .bookmarks li {
    margin: 0;
    height: 47px;
    padding: 4px 11px;
    list-style: none;
    line-height: 18px;
    border-bottom: 1px solid rgb(126,139,148);
    cursor: pointer;
}
#active .bookmarks li.active {
    background-color: rgb(126,139,148);
}
#active .bookmarks .day {
    color: rgb(170,184,194);
    text-align: right;
    font-size: 12px;
    line-height: 14px;
}

/* links */
#active .links h3 {
    background-color: transparent;
    background-image: url(../icon/background_sections_menu.png);
    -webkit-filter: drop-shadow(0 -3px 3px rgba(50, 50, 50, 0.75));
    /*box-shadow: 0 -2px 8px #555;*/
}
#active .links h3:focus {
    outline: 0;
}
#active .links h3:first-child {
}
#active .links ul {
    margin: 0;
    padding: 0 0 20px;
    border-top: 1px solid rgb(126,139,148);
}
#active .links li {
    margin: 0;
    list-style: none;
    border-bottom: 1px solid white;
    background-color: rgb(126,139,148);
    height: 135px;
    line-height: 18px;
    overflow: hidden;
    cursor: pointer;
}
#active .links li a {
    color: white;
    text-decoration: none;
}
#active .links #othermedia-links li,
#active .links #indepth-links li {
    height: 108px;
}
#active .links #timeline-links li {
    height: 80px;
}
#active .links #location-links li {
    height: 193px;
}
#active .links li.active {
    background-color: rgb(170,184,194);
}
#active .links li .thumb {
    float: left;
    width: 50px;
    padding: 11px 11px;
}
#active .links li .thumb .thumb-image {
    height: 48px;
    width: 48px;
    border: 1px solid white;
}
#active .links li .mediatype {
	height: 10px;
}
#active .links li .date {
    padding-top: 34px;
    font-size: 12px;
    font-weight: bold;
    color: rgb(230,229,228);
}
#active #location-links li .date {
    padding-top: 106px;
}
#active #indepth-links li .date,
#active #othermedia-links li .date {
    padding-top: 10px;
}
#active #timeline-links li .date {
    height: 48px;
    width: 54px;
    margin: 11px 8px 11px 8px;
    padding: 0;
    float: left;
    border: 1px solid white;
    text-align: center;
}
#active #timeline-links li .year {
    height: 20px;
    line-height: 20px;
    padding: 3px 0;
    border-bottom: 1px solid white;
    background-color: rgb(95,108,114);
    font-size: 20px;
    font-weight: 300;
    color: white;
}
#active #timeline-links li .month {
    height: 15px;
    line-height: 15px;
    padding: 3px 0;
    background-color: rgb(154,168,177);
    font-size: 15px;
    font-weight: 400;
    color: white;
    text-transform: uppercase;
}
#active .links li .desc {
    float: left;
    width: 172px;
    padding: 11px 10px 0 0;
    color: white;
}
#active .links li .author {
    line-height: 18px;
    overflow: hidden;
    font-weight: bold;
}
#active .links li .author-info {
    font-size: 13px;
    line-height: 14px;
    font-weight: bold;
    overflow: hidden;
}
#active .links li .title {
    color: rgb(45,57,64);
    line-height: 18px;
    overflow: hidden;
}
#active #timeline-links li .title {
    color: white;
}
/* link content is the column content - 5x header height */
#active .link-content {
    height: 553px;
    overflow: hidden;
}

/* article */
#active .article-group {
    height: 703px;
    width: 569px;
    overflow: hidden;
}
#active .article-slide {
    width: 569px;
    overflow:hidden;
}
#active .article-slide-content {
    padding: 24px 36px;
}
#active .article a {
    color: rgb(36,146,185);
    text-decoration: none;
}
#active .article h4.title {
    margin: 0 0 2px;
    font-size: 19px;
    text-transform: uppercase;
    color: black;
    line-height: 23px;
}
#active .article-info {
    margin-bottom: 10px;
    padding-bottom: 5px;
    font-size: 12px;
    color: rgb(141,155,175);
    font-weight: bold;
    border-bottom: 1px solid rgb(141,155,175);
}
#active .article-info .author {
}
#active .article-info .divider {
    padding: 0 4px;
}
#active .article-link {
    float: right;
}
#active .article .media {
    margin-top: 15px;
}
#active .article .media img {
	width: 100%
}
#active .article video {
	background-color: black;
}

#active .article .caption {
    background-color: white;
}
#active .article .article-text {
    margin-top: 15px;
    font-size: 21px;
    color: black;
    line-height: 28px;
}
#active .article .article-text img {
	display: none;
}

/* we hide the videos that are not on an active slide
    as the video blocks the links. 

    In iOS z-index for video does not work
*/
#active .article video {
    display: none;
}
#active .article .active video {
    display: block;
}

/* airplay hacks */
#airplay-menu {
    height: 102px;
    margin: 415px 0 0 243px;
    background-image: url(../icon/background_airplay_menu.png);
}
#airplay-menu li.active {
    background-image: url(../icon/checkmark.png);
    background-position: 150px 5px;
    background-repeat: no-repeat;
}
.airplay {
    height: 30px;
    width: 100%;
    margin-top: -5px;
    background-color: black;
    background-image: url(../icon/airplay-24.png);
    background-repeat: no-repeat;
    background-position: 95% center;
}
.airplay.active {
    background-image: url(../icon/airplay-active-24.png);
}
/* map hacks */
.map-buttons {
    position: absolute;
    height: 100px;
    top: 600px;
    z-index: 99;
}
.nearme-btn {
    padding-left: 60px;
}
.nearnews-btn {
    padding-left: 210px;
}

/* link browser */
#browser .container {
    height: 703px;
}
#browser iframe {
    width: 100%;
    height: 100%;
    border: 0;
    height: 659px;
}
#browser .header-bar,
#browser .footer-bar {
    height: 20px;
    padding: 0 10px;
    border: 1px solid rgb(100,114,124);
	background-color: rgba(95,109,105,0.6);
}
#browser .header-bar {
    text-align: right;
}
#browser .header-bar a {
    color: white;
    text-decoration: none;
}

/* feedback menu */
/* contextual menu */
.feedback-menu {
	position: absolute;
	padding: 5px 10px;
	background-color: rgb(45,57,64);
	color: white;
	z-index: 3;
	font-size: 13px;
	-webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.75));
	border: 1px solid rgb(100,114,124);
}
#settings-feedback {
    top: 40px;
    margin-left: 750px;
}
#share-feedback {
    top: 620px;
    margin-left: 620px;
}
#save-feedback {
    top: 620px;
    margin-left: 950px;
}
#saved-slides {
    top: 100px;
    width: 400px;
    margin-left: 350px;
    font-size: 14px;
}
#saved-slides .hd {
    font-size: 16px;
    border-bottom: 1px solid rgb(100,114,124);
    margin-bottom: 8px;
    overflow: auto;
}
#saved-slides .close {
    float: right;
}
#saved-slides ul {
	margin: 0;
	padding: 0;
	border-width: 1px 1px 0 1px;
	border-style: solid;
	border-color: white;
	background-color: rgba(95,109,105,0.6);
}
#saved-slides li {
	list-style: none;
	padding: 3px;
	height: 19px;
	border-bottom: 1px solid white;
}

/* map */
#map-canvas .thumb {
    float: left;
    width: 50px;
    padding: 11px 11px;
}
#map-canvas .thumb img {
    height: 48px;
    width: 48px;
    border: 1px solid white;
}
#map-canvas .author {
    font-weight: bold;
}
#map-canvas .desc {
    float: left;
    padding: 11px 10px 0 0;
    width: 250px;
}
#map-canvas a {
    color: rgb(36,146,185);
    text-decoration: none;
}
