<div class="about-panel">

  <div class="navigation">
    <span  ng-repeat="c in crumb">
      <span ng-if="!$last">
        <a ng-click="proxy(c, true)">{{c.value}}</a> 
        <span class="divider">></span>
      </span>
      <span ng-if="$last">
        {{c.value}}
      </span>
    </span>  
  </div>
  

  <div ng-if="loading">
    <div class="text-center"><i>Loading ...</i></div>
  </div>
  <div ng-if="!loading">
    <information-card props="proxyAnswer" browse="proxy"></information-card>
  </div>
  
</div>
