<div class="row">
  <div class="col-md-3">
    <ul>
      <li>Jan Toorop in Domburg</li>
      <li>Domburg artists</li>
    </ul>
  </div>
  <div class="col-md-9">
    <div class="article">
      <div class="article-content">
        <h4 class="title">title</h4>
        <div class="article-info">
          <span class="author">name</span>
          <span class="source">source</span>
          <span class="date">date</span>
          <div class="article-link">
            <a href="url">original article</a>
          </div>
        </div>
        <div class="media">
        </div>
        <div class="article-text">text</div>
      </div>
    </div>
  </div>
</div>
