<div class="row">
  <div class="col col-25 links">
    <h3 ng-click="showLinks('about')">About</h3>
    <ion-scroll direction="y" ng-show="activeLinks=='about'">
      <chapter-about></chapter-about>
    </ion-scroll>
    <h3 ng-click="showLinks('artworks')">Artworks</h3>
    <ion-scroll direction="y" ng-show="activeLinks=='related artworks'">
      <chapter-artworks></chapter-artworks>
    </ion-scroll>
    <h3 ng-click="showLinks('background')">Background</h3>
    <ion-scroll direction="y" ng-show="activeLinks=='background'">
      <chapter-background></chapter-background>
    </ion-scroll>
    <h3 ng-click="showLinks('chapters')">Chapters</h3>
    <ion-scroll direction="y" ng-show="activeLinks=='related chapters'">
      <chapter-related></chapter-related>
    </ion-scroll>
  </div>
  <div class="col-75 content">
    <ion-scroll direction="y">
      <div class="crumbs" ng-if="crumb.length>1">
         <span ng-repeat="c in crumb">   
           <span ng-if="!$last">
             <span class="divider">></span>
             <a ng-click="proxy(c, true)">{{c.value}}</a>
           </span>
         </span>
      </div>
      <information-card props="content"></information-card>
    </ion-scroll>
  </div>
</div>
