<div class="row">

  <div class="col col-25 links">
    <div ng-repeat="d in dimensions">
      <h3 ng-click="toggleDimension(d.id)" ng-bind="d.title"></h3>
      <ion-scroll direction="y" ng-show="dimension==d.id">
        <dimension-list items="d.items" type="d.type"></dimension-list>
      </ion-scroll>
    </div>
  </div>

  <div class="col col-75 content">
    <ion-scroll direction="y">
      <div class="crumbs" ng-if="crumb.length > 1">
         <span ng-repeat="c in crumb">
           <span ng-if="!$last">
             <a ng-click="setAbout(c)">{{c.value}}</a>
             <span class="divider">></span>
           </span>
         </span>
      </div>
      <information-card props="content" navigate="setAbout"></information-card>
    </ion-scroll>
  </div>

</div>