<ion-list>
  <div ng-repeat="item in items" ng-click="nav(item)" class="item-wrapper"
        ng-class="{'selected': isSelected(item)}" ng-switch="type">

      <!-- Entity -->
      <ion-item class="item item-thumbnail-left about" ng-switch-when="entity">
          <img ng-src="{{item.attributes.thumb[0]}}">
          <h2>{{item.attributes.label[0].value}}</h2>
          <p>
              <span ng-repeat="type in item.type | filter : '!resource'">{{type}} </span>
          </p>
      </ion-item>

    <!-- Europeana Artwork -->
    <ion-item class="item item-thumbnail-left artwork" ng-switch-when="europeana">
        <img ng-src="{{item.thumb[0]}}">
        <h2>{{item.dcTitle.def[0]}}</h2>
        <p>{{item.dcSource.def[0]}}</p>
    </ion-item>

    <!-- IRAPI Article -->
    <ion-item class="item item-thumbnail-left article" ng-switch-when="article">
      <div ng-if="item.author"></div>
    </ion-item>

    <!-- Video -->

    <!-- Default -->
    <ion-item class="item" ng-switch-default>
      <h2>{{item.title}}</h2>
    </ion-item>

  </div>
</ion-list>
