<ion-list>
  <div ng-repeat="item in items track by $id(item)" ng-click="nav(item)" class="item-wrapper"
        ng-class="{'selected': isSelected(item)}" ng-switch="type">

      <!-- Entity -->
      <ion-item class="item item-thumbnail-left about" ng-switch-when="entity">
          <img ng-src="{{item.image}}">
          <h2>{{item.title}}</h2>
          <p>
              <span ng-repeat="type in item.types | filter : '!resource'">{{type}}<span ng-hide="$last">, </span></span>
          </p>
      </ion-item>

    <!-- Europeana Artwork -->
    <ion-item class="item item-thumbnail-left artwork" ng-switch-when="europeana">
        <img ng-src="{{item.image}}">
        <h2>{{item.title}}</h2>
        <p>{{item.source}}</p>
    </ion-item>

    <!-- Article -->
    <ion-item class="item item-avatar article" ng-switch-when="article">
      <img ng-src="{{item.image}}" ng-if="item.image">
      <h2>{{item.title}}</h2>
      <p>{{item.source}}</p> 
      <i class="star icon ion-star"
          ng-if="item.degree" ng-style="{'font-size':35*item.degree}">
        </i>
    </ion-item>

    <!-- Chapter -->
    <ion-item class="item item-thumbnail-left chapter" ng-switch-when="chapter">
      <video-chapter video="item.video" chapter="item.chapter"></video-chapter>
    </ion-item>

    <!-- Video -->

    <!-- Default -->
    <ion-item class="item" ng-switch-default>
      <h2>{{item.title}}</h2>
    </ion-item>

  </div>
</ion-list>
