<ion-scroll class="entity-bar" direction="x">
  <ul class="entity-list">
    <li ng-repeat="e in entities" class="entity"
    	ng-click="selectEntity($index)"
    	ng-class='{active:$index==currentEntityIndex}'>
      <img ng-src="{{e.image}}" alt="{{e.title}}">
      <div class="title" ng-bind-html="e.title"></div>
    </li>
  </ul>
</ion-scroll>

<ion-slide-box class="entity-slider" active-slide="currentEntityIndex" show-pager="false">
  <ion-slide ng-repeat="e in entities">
    <entity-slide entity="e"></entity-slide>
  </ion-slide>
</ion-slide-box>
