<ion-scroll class="entity-bar" direction="x">
  <ul class="entity-list">
    <li ng-repeat="e in entities" class="entity" ng-click="selectEntity($index)">
      <img ng-src="{{e.thumb[0]}}" alt="{{e.label[0].value}}">
      <div class="title">{{e.label[0].value}}</div>
    </li>
  </ul>
</ion-scroll>

<ion-slide-box class="entity-slider" active-slide="currentEntityIndex">
  <ion-slide ng-repeat="e in entities">
    <div class="box">
      <information-card props="e"></information-card>
    </div>
  </ion-slide>
</ion-slide-box>
