<div class="information-card" ng-switch="type">

	<!-- Entity -->
	<div class="entity" ng-swith-when="entity || europeana">
		<div class="header">
			<h2 ng-if="title">{{title}}</h2>
			<div class="info" ng-if="subtitle">
				{{subtitle}}
			</div>
			<div class="link" ng-if="url">
				<a ng-click="toggleExternalUrl(url.value)">Source: {{url.label}}</a>
			</div>
		</div>

		<div class="row">
			<div class="col col-33 image">
				<img visible-on-load ng-src="{{image}}" title="{{title}}" alt="{{title}}"/>
			</div>
			<div class="col text">
				<p class="description" ng-if="description" ng-bind-html="description"></p>
				<ul class="attributes" ng-if="attributes">

					<!-- templates -->
					<li ng-if="template.birthDate">
						<span class="key">Birth:</span>
						<span class="value">{{template.birthDate[0] | date : 'd MMMM y'}}
							<a ng-click="nav(template.birthPlace[0].uri)">{{template.birthPlace[0].value}}</a>
						</span>
					</li>
					<li ng-if="template.deathDate">
						<span class="key">Death:</span>
						<span class="value">{{template.deathDate[0] | date : 'd MMMM y'}}
							<a ng-click="nav(template.deathPlace[0].uri)">{{template.deathPlace[0].value}}</a>
						</span>
					</li>

					<li ng-repeat="(key, values) in attributes">
						<span class="key">{{key}}: </span>
						<span class="value" ng-repeat="v in values">
							<a ng-click="nav(v.uri)" ng-if="v.hasOwnProperty('uri')">{{v.value}}</a>
							<span ng-if="v.hasOwnProperty('value') && !v.hasOwnProperty('uri')">{{v.value}}</span>
							<span ng-if="!v.hasOwnProperty('value')">{{v}}</span>
							<span ng-hide="$last">, </span>
						</span>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<!-- Article -->
	<div class="article" ng-switch-when="article">
		<div class="header">
			<h4 ng-if="title.value">{{title.value}}</h4>
			<div class="info" ng-if="source.value || dcSource.value || author.value">
				<span class="source" ng-if="source.value">{{source.value}}</span>
				<span class="source" ng-if="dcSource.value">{{dcSource.value}}</span>
				<span class="author" ng-if="author.value">{{author.value}}</span>
			</div>
			<div class="link" ng-if="url.value">
				<a ng-click="toggleExternalUrl(url.uri)">Source: {{url.value}}</a>
			</div>
		</div>
		<div class="description" ng-bind-html="comment.value"></div>
	</div>


	<!-- metadata
  <ul ng-if="metadata">
    <li ng-repeat="d in metadata"><a ng-click="nav(d)">{{d.value}}</a></li>
  </ul>
-->
  <!-- related chapter
  <ul ng-if="playChapter.uri">
    <a href="{{playChapter.uri}}">Play it!</a>
  </ul>
  -->

</div>

<div class="browser" ng-if="external">
  <header ng-click="toggleExternalUrl()">{{externalUrl}}
    <button ng-click="toggleExternalUrl()" class="close button button-small button-icon icon light ion-ios7-close-outline"></button>
  </header>
  <iframe ng-src="{{externalUrl}}"></iframe>
</div>
