<div class="video-overlay" ng-click="overlayClick()" ng-hide="beaming || mode!=='watch'">
  <div class="loading-icon" ng-show="loading">
    <i class="icon ion-loading-c"></i>
  </div>
  <div class="icon play-icon" ng-hide="controls.hidden || loading"
    ng-class="{'ion-ios7-play': !play, 'ion-ios7-pause': play}"></div>
</div>

<div class="player-control-bar" ng-hide="controls.hidden && !beaming">
  <div class="row">
    <div class="col col-10">
      <button class="button button-small button-icon icon"
        ng-class="{'ion-ios7-play': !play, 'ion-ios7-pause': play}" 
        ng-click="togglePlay()" ></button>
      <button class="button button-small button-icon icon"
        ng-class="{'ion-ios7-volume-low': mute, 'ion-ios7-volume-high': !mute}" 
        ng-click="toggleMute()" ></button>
    </div>
    <div class="col col-80">
        <seek-bar></seek-bar>
    </div>
    <div class="col col-10" style="text-align:right">
      <bookmark video="video()" chapter="chapter()"></bookmark>
      <button class="button button-small button-icon icon ion-ios7-monitor-outline"
        ng-class="{selected: beaming}"
        ng-click="toggleBeam()" ></button>
    </div>
  </div>
</div>