<div class="row">
  <div class="col col-20">

    <button class="button button-small button-icon icon"
      ng-class="{'ion-ios7-play': !play, 'ion-ios7-pause': play}" 
      ng-click="togglePlay()" ></button>
    <button class="button button-small button-icon icon"
      ng-class="{'ion-ios7-volume-low': mute, 'ion-ios7-volume-high': !mute}" 
      ng-click="toggleMute()" ></button>
    <button class="button button-small button-icon icon ion-navicon"
            ng-class="{'selected': chapterList}"
            ng-click="toggleChapterList()" ></button>
  </div>
  <div class="col col-60">
      <seek-bar></seek-bar>
  </div>
  <div class="col col-20" style="text-align:right">
    <button class="button button-small button-icon icon ion-ios7-monitor-outline"
      ng-class="{selected: beaming}"
      ng-click="toggleBeam()" ></button>
  </div>
</div>
